APP_NAME = "Mirath"
CONNECTION_URL = ""
DATABASE_NAME = ""

COHERE_API_KEY = ""
EMBEDDING_MODEL_ID = "embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE = 384

GEMINI_API_KEY = ""
GENERATION_MODEL_ID = "gemini-2.5-flash"

INPUT_DAFAULT_MAX_CHARACTERS = 1024
GENERATION_DAFAULT_MAX_TOKENS = 200
GENERATION_DAFAULT_TEMPERATURE = 0.1


GENERATION_BACKEND = "GEMINI"
EMBEDDING_BACKEND = "COHERE"
