APP_NAME = "Mirath"
CONNECTION_URL = ""
DATABASE_NAME = ""

COHERE_API_KEY = ""
EMBEDDING_MODEL_ID_LITERAL = ["embed-multilingual-light-v3.0", "gemini-embedding-001"]
EMBEDDING_MODEL_ID = "embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE = 384

GEMINI_API_KEY = ""
GENERATION_MODEL_ID_LITERAL = ["gemini-2.5-flash", "command-a-translate-08-2025"]
GENERATION_MODEL_ID = "gemini-2.5-flash"

INPUT_DAFAULT_MAX_CHARACTERS = 1024
GENERATION_DAFAULT_MAX_TOKENS = 200
GENERATION_DAFAULT_TEMPERATURE = 0.1


GENERATION_BACKEND = "GEMINI"
EMBEDDING_BACKEND = "COHERE"

QDRANT_URL = ""
DISTANCE_METHOD = ""
VECTOR_DB_BACKEND = "Qdrant"

TAVILY_API_KEY = ""

PRIMARY_LANG = "en"
DEFAULT_LANG = "en"

GROQ_API_KEY = ""
TRANSCRIPTION_MODEL_ID = "whisper-large-v3-turbo"

PADDLE_OCR_URL = ""
PADDLE_OCR_TOKEN = ""

AUDIO_MAX_SIZE = 5242880  # 5MB

IMAGE_ALLOWED_TYPES = ["image/jpeg", "image/png", "image/webp", "image/tiff"]
IMAGE_MAX_SIZE = 5242880  # 5MB
