fastapi==0.136.0
uvicorn[standard]==0.44.0
python-multipart==0.0.26
pydantic-settings==2.13.1
motor==3.7.1
pydantic-mongo==3.1.0
cohere==6.1.0
google-generativeai==0.8.6
qdrant-client==1.17.1
ijson==3.4.0.post0
aiofiles==25.1.0
langgraph==1.1.6
langchain==1.2.15
langchain-community==0.4.1
langchain-tavily==0.2.18
arxiv==3.0.0
langgraph-checkpoint-mongodb==0.3.1
langchain-google-genai==4.2.2
langchain-paddleocr==0.1.0
groq==1.2.0
tavily-python==0.7.24
